@import url(./fonts.css);
@import url(./animations.css);
@import url(./variables.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: -0.011em;
}

html,
body {
  height: auto;
}

body {
  background-color: var(--dark);
  color: var(--white);
  font-family: montserrat-s, sans-serif;
  min-width: 320px;
}

a {
  text-decoration: none;
  color: var(--white);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
  pointer-events: none;
  z-index: 100;
}

.top-line {
  display: flex;
  gap: 50px;
}

.top-line__left {
  display: flex;
  align-items: center;
  width: 20%;
}

.top-line__center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 0%;
}

.top-line__right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
  width: 20%;
}

.top-mnu {
  background: rgba(255, 255, 255, 0.05);
  border-radius: var(--radius);
  padding: 4px;
  /* bdf */
}

.top-mnu ul {
  display: flex;
  gap: 2px;
}

.top-mnu a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 120%;
  height: 52px;
  padding: 0 17.5px;
  border-radius: var(--radius);
  min-width: 100px;
}

.top-mnu a::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(255, 255, 255, 0.05);
  transform: scaleX(0.925);
  transition: var(--transition);
  opacity: 0;
  border-radius: var(--radius);
}

.top-mnu a::after {
  content: attr(data-text);
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--gradient-1);
  background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  transition: var(--transition);
}

.top-mnu a:hover::before {
  opacity: 1;
  transform: scaleX(1);
}

.top-mnu a:hover::after {
  opacity: 0.5;
}

.logo,
.top-mnu,
.mnu-button {
  pointer-events: auto;
}

.main-menu {
  opacity: 0;
  visibility: hidden;
}

.mnu-button__menu {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  width: 60px;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: var(--radius);
  border: none;
  cursor: pointer;
  z-index: 10;
  /* bdf */
}

.mnu-button__menu span {
  display: block;
  background-color: var(--white);
  width: 22px;
  height: 2px;
  border-radius: var(--radius);
}
